.moduleMargin{
  margin-top: 120px;
}

.banner{
  height:800px;
  background-color:#ededed;
  width:100%;
  position:absolute;
  left:0;
  top:0;
  overflow:hidden;
}

.detailsContent{
  display:flex;
  flex-flow:row-reverse;
  margin-top:0;
  float:none;
  position:relative;
  margin-bottom:15px;
  width:1280px;
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
}

.details{
  padding-left:15px;
  padding-right:15px;
  width:30.333%;
  background-color:white;
  height:800px;
}

.productDetails{
  min-height:840px;
  position:relative;
  z-index:4;
}

.productCarousel{
  position:absolute;
  left:0;
  top:0;
  float:none;
  margin-bottom:20px;
  width:65.03%;
}

.status {
  font-style:italic;
  top:0;
  left:0;
  transform:none;
  padding:7px;
  margin:30px 30px 30px 0;
  font-size:13px;
  text-align:center;
  display:inline-block;
  line-height:1.1em;
  position:absolute;
  max-width:90%;
  white-space:nowrap;
  letter-spacing:2px;
  transform-origin:right top;
  background-color:#fff;
  color:#000;
}