.breadcrums {
  align-items:center;
  display:flex;
  height:38px;
}

.breadcrumsSection{
  width:1280px;
  padding-left:15px;
  padding-right:15px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

.breadCrumsList {
  padding:5px 0;
  padding-bottom:5px;
  color:#000;
  line-height:20px;
  font-size:16px;
  margin-top:0px;
  display: flex;
  margin-bottom: 0px
}

.breadCrumsList a {
  transition: color .1s cubic-bezier(.3,0,.45,1),background-color .1s cubic-bezier(.3,0,.45,1);
}

.breadcrumListItemSection {
  display:inline-flex;
  align-items:center;
  text-align: left
}

.breadcrumListItemButton {
  padding:0;
  height:24px;
  line-height:24px;
  padding-right:5px;
  margin-right:15px;
  border:none;
  background:none;
  color:#000;
  font-size:13px;
  text-decoration:underline;
  vertical-align:bottom;
  color: black;
}

.breadcrumListItemButton :hover {
  background-color: #000;
  color: #fff;
}

.breadCrumListItemImage{
  margin-right:5px;
  height:24px;
  width:24px;
  top:0;
  position:relative;
  vertical-align:text-top
}

.breadCrumMainItem {
  height:24px;
  line-height:24px;
  display:inline;
  vertical-align:bottom;
  padding-left:1px;
  padding-right:1px;
  color:#000;
  text-decoration:underline;
  cursor:pointer;
  color:#000;
}

.breadCrumMainItemSeperator{
  padding-left:5px;
  padding-right:5px;
  margin-top: 3px;
}