.detailsFeedback  {
  height: '20px';
  margin-bottom: '10px';
  background-color: 'white';
  display: 'inline-block';
  width: '100%'
}

.ratings  {
  width:'80px'
}

.ratingStar  {
  height: '16px';
  width: '16px'
}

.detailReviews  {
  padding-left: '1px';
  padding-right: '1px';
  margin-left: '5px'
}

.productCategory  {
  font-size: '13px';
  letter-spacing: '2px';
  color: '#98989a'
}

.productCategoryItem  {
  margin: "0 0 2px"
}

.productName  {
  margin: '0px';
  padding: '0px';
  font-size: '30px';
  margin-bottom: '7px';
  line-height: '28px';
  font-weight: '600';
  font-weight: 'bold'
}