.FeaturedContainer  {
  height:800px
}

.FeaturedSelector  {
  width:800px;
  height:100%;
  margin:auto;
  position:relative
}

.FeaturedImage  {
  cursor:'url(https://png.icons8.com/metro/1600/zoom-in.png)';
  width:100%;
  height:100%;
  max-width:none;
  max-height:100vw;
  margin:auto;
  display:block
}